form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

input[type="email"],
input[type="password"],
input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    width: 200px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid gray;
}

button[type="submit"],
button {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: lightblue;
    color: white;
    cursor: pointer;
}

.profile-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.profile-section p {
    font-size: 18px;
    margin: 10px 0;
}

.Login {
    padding: 60px 0;
}

.Login form {
    margin: 0 auto;
    max-width: 320px;

}

.profile {
    position: absolute;
    width: 600px;
    height: 400px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.2);
    background-color: whitesmoke;
    border: solid 1px black
}

.profile h1 {
    text-align: left;
    margin-top: 25px;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
}

.profile p {
    text-align: center;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

.boutons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
}

.boutons .btn1 {
    background-color: blue;
}

.boutons .btn2 {
    background-color: red;
}